<ng-container *transloco="let t">
    <spiderly-card [title]="t('Notification')" icon="pi pi-bell">
        <spiderly-panel [isFirstMultiplePanel]="true" [showPanelHeader]="false">
            <panel-body>
                <div class="grid">
                    <div class="col-12">
                        <spiderly-checkbox [control]="isMarkedAsRead" [label]="t('NotifyUsers')"/>
                    </div>
                </div>
            </panel-body>
        </spiderly-panel>

        <notification-base-details
        [showBigPanelTitle]="false"
        [formGroup]="formGroup" 
        [notificationFormGroup]="notificationFormGroup" 
        (onSave)="onSave()"
        [isLastMultiplePanel]="true"
        [additionalButtons]="additionalButtons"
        (onIsAuthorizedForSaveChange)="isAuthorizedForSaveChange($event)"
        (onAfterFormGroupInit)="onAfterFormGroupInit()" 
        />

    </spiderly-card>
</ng-container>
