<div style="padding: 30px;">
  <div class="card dashboard-card-wrappe">

    <div class="big-header" style="margin-bottom: 20px;">
      <h1 class="remove-h-css">USLOVI KORIŠĆENJA</h1>
      <div class="bold-header-separator"></div>
    </div>

    <p style="margin-bottom: 20px;">Dobrodošli na <strong>{{companyName}}</strong>, platformu za kreiranje i upravljanje lojalti programima. Korišćenjem naše platforme, saglasni ste sa sledećim uslovima korišćenja. Molimo vas da ih pažljivo pročitate.</p>

    <spiderly-panel [isFirstMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="1. OPŠTE ODREDBE"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>1.1.</strong> Ovi uslovi korišćenja regulišu pravila i obaveze korisnika prilikom korišćenja <strong>{{companyName}}</strong> (dalje u tekstu: "Platforma").</p>
        <p><strong>1.2.</strong> Pristupom ili korišćenjem Platforme prihvatate ove uslove u celosti.</p>
        <p><strong>1.3.</strong> Ukoliko se ne slažete sa bilo kojim delom ovih uslova, molimo vas da ne koristite Platformu.</p>
      </panel-body>
    </spiderly-panel>

    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="2. REGISTRACIJA I KORIŠĆENJE PLATFORME"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>2.1.</strong> Da biste koristili Platformu, morate se registrovati i kreirati korisnički nalog.</p>
        <p><strong>2.2.</strong> Odgovorni ste za tačnost podataka koje unosite prilikom registracije.</p>
        <p><strong>2.3.</strong> Vaš nalog je ličan i nije dozvoljeno deljenje pristupnih podataka sa trećim licima.</p>
      </panel-body>
    </spiderly-panel>

    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="3. PRAVA I OBAVEZE KORISNIKA"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>3.1.</strong> Korisnik se obavezuje da će Platformu koristiti u skladu sa važećim zakonima i propisima.</p>
        <p><strong>3.2.</strong> Zabranjeno je zloupotrebljavati Platformu, uključujući, ali ne ograničavajući se na pokušaje neovlašćenog pristupa, manipulaciju podacima ili korišćenje Platforme u nezakonite svrhe.</p>
      </panel-body>
    </spiderly-panel>


    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="4. OGRANIČENJE ODGOVORNOSTI"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>4.1.</strong> Platforma se pruža "kao takva", bez ikakvih garancija.</p>
        <p><strong>4.2.</strong> Ne garantujemo neprekidan rad ili potpunu bezbednost podataka, ali preduzimamo sve razumne mere za njihovu zaštitu.</p>
        <p><strong>4.3.</strong> Ne snosimo odgovornost za bilo kakve gubitke ili štetu nastalu usled korišćenja Platforme.</p>
      </panel-body>
    </spiderly-panel>

    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="5. ZAŠTITA PRIVATNOSTI I PODATAKA"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>5.1.</strong> Svi podaci korisnika biće obrađeni u skladu sa našom Politikom privatnosti.</p>
        <p><strong>5.2.</strong> Nećemo deliti vaše podatke sa trećim licima bez vašeg pristanka, osim ako je to zakonski obavezno.</p>
      </panel-body>
    </spiderly-panel>


    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="6. IZMENI I DOPUNE USLOVA KORIŠĆENJA"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>6.1.</strong> Zadržavamo pravo da u bilo kom trenutku izmenimo ili dopunimo ove uslove korišćenja.</p>
        <p><strong>6.2.</strong> O svim izmenama korisnici će biti blagovremeno obavešteni putem e-maila ili notifikacija na Platformi.</p>
      </panel-body>
    </spiderly-panel>


    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="7. ZAVRŠNE ODREDBE"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>7.1.</strong> Ovi uslovi stupaju na snagu danom objavljivanja na Platformi.</p>
        <p><strong>7.2.</strong> Svi sporovi koji proisteknu iz korišćenja Platforme rešavaće se mirnim putem, a ukoliko to nije moguće, nadležan je sud u <strong>Beogradu</strong>.</p>
      </panel-body>
    </spiderly-panel>


    <spiderly-panel [isLastMultiplePanel]="true" [showPanelHeader]="false">
        <panel-body [normalBottomPadding]="true">
          Za sva pitanja ili nejasnoće, kontaktirajte nas na <strong>filiptrivan5&commat;gmail.com</strong>.
          <p>Hvala što koristite <strong>{{companyName}}</strong>!</p>
        </panel-body>
    </spiderly-panel>

  </div>
</div>
