<div style="padding: 30px;">
  <div class="card dashboard-card-wrappe">

    <div class="big-header" style="margin-bottom: 20px;">
      <h1 class="remove-h-css">POLITIKA PRIVATNOSTI</h1>
      <div class="bold-header-separator"></div>
    </div>

    <p style="margin-bottom: 20px;">Vaša privatnost nam je važna. Ova Politika privatnosti objašnjava kako <strong>{{companyName}}</strong> prikuplja, koristi i štiti vaše lične podatke. Korišćenjem naše Platforme, saglasni ste sa obradom podataka u skladu sa ovom politikom.</p>

    <spiderly-panel [isFirstMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="1. PRIKUPLJANJE PODATAKA"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>1.1.</strong> Prikupljamo podatke koje nam dobrovoljno dostavite prilikom registracije i korišćenja Platforme.</p>
        <p><strong>1.2.</strong> Automatski prikupljamo tehničke podatke o vašem uređaju, IP adresi i obrascima korišćenja Platforme.</p>
      </panel-body>
    </spiderly-panel>

    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="2. KORIŠĆENJE PODATAKA"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>2.1.</strong> Vaše podatke koristimo za obezbeđivanje, unapređenje i personalizaciju usluga na Platformi.</p>
        <p><strong>2.2.</strong> Podaci se mogu koristiti u analitičke svrhe kako bismo poboljšali korisničko iskustvo.</p>
        <p><strong>2.3.</strong> Nećemo koristiti vaše podatke u svrhe koje nisu navedene u ovoj Politici bez vaše saglasnosti.</p>
      </panel-body>
    </spiderly-panel>

    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="3. DELJENJE PODATAKA"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>3.1.</strong> Vaši podaci neće biti prodati niti iznajmljeni trećim licima.</p>
        <p><strong>3.2.</strong> Možemo podeliti podatke sa trećim licima isključivo u sledećim slučajevima:</p>
        <ul>
          <li>kada imamo vašu izričitu saglasnost,</li>
          <li>kada je to neophodno za pružanje usluga (npr. hosting partneri),</li>
          <li>kada to zahteva zakon ili nadležni organi.</li>
        </ul>
      </panel-body>
    </spiderly-panel>

    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="4. ZAŠTITA PODATAKA"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>4.1.</strong> Preduzimamo odgovarajuće mere zaštite kako bismo osigurali sigurnost vaših podataka.</p>
        <p><strong>4.2.</strong> Iako činimo sve da zaštitimo vaše podatke, ne možemo garantovati apsolutnu bezbednost.</p>
        <p><strong>4.3.</strong> Vi ste odgovorni za čuvanje svojih pristupnih podataka.</p>
      </panel-body>
    </spiderly-panel>

    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="5. PRAVA KORISNIKA"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>5.1.</strong> Imate pravo da pristupite, izmenite ili izbrišete svoje podatke.</p>
        <p><strong>5.2.</strong> Možete podneti zahtev za prekid obrade vaših podataka kontaktiranjem naše podrške.</p>
        <p><strong>5.3.</strong> Imate pravo da uložite prigovor na obradu podataka u skladu sa važećim zakonima.</p>
      </panel-body>
    </spiderly-panel>

    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="6. KOLAČIĆI I TEHNOLOGIJE PRAĆENJA"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>6.1.</strong> Platforma koristi kolačiće za poboljšanje funkcionalnosti i personalizaciju iskustva.</p>
        <p><strong>6.2.</strong> Možete onemogućiti kolačiće u podešavanjima svog pretraživača.</p>
        <p><strong>6.3.</strong> Korišćenjem Platforme pristajete na upotrebu kolačića.</p>
      </panel-body>
    </spiderly-panel>

    <spiderly-panel [isMiddleMultiplePanel]="true">
      <panel-header [showBigTitle]="true" title="7. IZMENI I AŽURIRANJE POLITIKE"></panel-header>
      <panel-body [normalBottomPadding]="true">
        <p><strong>7.1.</strong> Zadržavamo pravo da izmenimo ovu Politiku privatnosti u bilo kom trenutku.</p>
        <p><strong>7.2.</strong> O svim izmenama korisnici će biti blagovremeno obavešteni putem e-maila ili notifikacija na Platformi.</p>
      </panel-body>
    </spiderly-panel>

    <spiderly-panel [isLastMultiplePanel]="true" [showPanelHeader]="false">
        <panel-body [normalBottomPadding]="true">
          Za sva pitanja ili zahteve vezane za vašu privatnost, kontaktirajte nas na <strong>filiptrivan5&commat;gmail.com</strong>.
          <p>Hvala što koristite <strong>{{companyName}}</strong>!</p>
        </panel-body>
    </spiderly-panel>

  </div>
</div>


